.Button {
  margin-right: 5%;
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #c250c2;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  min-height: 60px;
  border-radius: 5%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.Button__link {
  text-decoration: none;
  font-size: 35px;
  color: rgb(236, 143, 174);
}
.Button__link__active {
  color: rgb(144, 15, 167);
  -webkit-box-shadow: 0px 16px 4px -1px #5a5cff;
  box-shadow: 0px 16px 4px -1px #5a5cff;

  font-size: 35px;
}

.Button:hover,
.Button:focus {
  background-color: #303f9f;
}
.Button__link:hover {
  color: rgb(125, 6, 129);
}
