img {
  min-width: 30%;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 15px 5px #ff6ce3;
  box-shadow: 5px 5px 15px 5px #ff6ce3;
}

.detail_h2 {
  display: block;
  width: 70%;
  font-size: 50px;
  color: purple;
  padding-left: 120px;
  text-align: start;
}
.detail_h4 {
  display: block;
  width: 100%;
  font-size: 30px;
  color: rgb(185, 78, 185);
  padding-left: 120px;
  text-align: start;
}
.detail_h3 {
  display: block;
  width: 100%;
  font-size: 30px;
  color: rgb(143, 46, 143);
  padding-left: 120px;
  text-align: start;
}
.detail__wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 10px;
}
ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  width: 10%;
  height: auto;
  font-size: 40px;
  color: rgb(240, 140, 240);
}
.detail_h3_list {
  display: block;
  width: 100%;
  font-size: 40px;
  color: rgb(177, 36, 177);
  padding-left: 120px;
  text-align: center;
}
.div_links {
  width: 100%;
}
span {
  display: inline-block;
  width: 40%;
  margin-right: 3%;
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  text-decoration-color: blue;
}
.link {
  text-decoration: none;
}
.warning {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  min-height: 2000px;
  background-color: rgb(246, 209, 246);
}
.warning__h1 {
  position: absolute;
  top: 400px;
  display: block;
  width: 100%;
  font-size: 30px;
  color: rgb(90, 28, 90);
  text-align: center;
}
