.wrapper__button {
  background-color: rgb(192, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  border-radius: 3%;
}
div {
  background-color: rgb(241, 181, 212);
}
